*{ box-sizing: border-box;}
html{ font-size: 24px;}
body{ margin: 0; font-family: 'Source Sans Pro';}



a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: white;
}

.navbar__logo i{
    color: #d49466;
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li{
    padding: 8px 12px;
}

.navbar__menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .navbar__toogleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
}


.bg-container{
    position: relative;
    width: 94%;
    margin: 10vw 3vw;
    overflow: hidden;
    border-radius: 20px;
}

#image{
    width: 100%;
    height: 95%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#text{
    font-family: 'kumbh Sans', sans-serif;
    font-size: 130px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    color: #fff;
    margin-top: 240px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#bg{
    position: relative;
    width: 100%;
    z-index: 0;
}

